 

.glassbga {
  /*渐变*/
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));

  border-radius: 0.5rem;
  box-shadow: 6px 6px 10px rgba(112, 112, 112, 0.2);
}

.glassbg {
  background: linear-gradient(to right top, #f3f5f4, #d3e3e6);
  border-radius: 0.5rem;
}

 